In [1]:
import pandas as pd
import numpy as np

In [2]:
%load_ext watermark

In [3]:
%watermark -h -v -m -p pandas,numpy,matplotlib

CPython 3.6.0
IPython 5.1.0

pandas 0.19.2
numpy 1.11.3
matplotlib 2.0.0

compiler   : MSC v.1900 64 bit (AMD64)
system     : Windows
release    : 10
machine    : AMD64
processor  : Intel64 Family 6 Model 42 Stepping 7, GenuineIntel
CPU cores  : 8
interpreter: 64bit
host name  : user-PC

In [4]:
pd.options.display.max_rows = 11

In [5]:
trial_no = 1

In [6]:
h5root = '..\\h5 files\\'
h5subdir = 'Trial %d\\' % trial_no
h5file = 'ABMSmallCapSum.h5'
h5_file = '%s%s%s' % (h5root, h5subdir, h5file)
h5_file

'..\\h5 files\\Trial 1\\ABMSmallCapSum.h5'

### Participation

In [7]:
participation_df = pd.read_hdf(h5_file, 'participation')
participation_df

             Max        Min        Sum
MCRun
1      84.396618  84.396618  84.396618
2      88.388634  88.388634  88.388634
3      89.162194  89.162194  89.162194
4      83.843868  83.843868  83.843868
5      88.709329  88.709329  88.709329
...          ...        ...        ...
96     86.687711  86.687711  86.687711
97     91.582372  91.582372  91.582372
98     87.465545  87.465545  87.465545
99     88.067756  88.067756  88.067756
100    87.061319  87.061319  87.061319

[100 rows x 3 columns]

### Position

In [8]:
position_df = pd.read_hdf(h5_file, 'position')
position_df.groupby('MCRun').Min.min(), position_df.groupby('MCRun').Max.max()

(MCRun
 1     -131
 2     -102
 3      -27
 4      -14
 5      -85
       ...
 96      -6
 97    -261
 98    -133
 99    -201
 100    -56
 Name: Min, dtype: int64, MCRun
 1       20
 2      156
 3       87
 4      229
 5       83
       ...
 96     103
 97      69
 98       1
 99      40
 100    153
 Name: Max, dtype: int64)

### Matched trade profitability

In [9]:
profit_df = pd.read_hdf(h5_file, 'profit')
#profit_df.set_index(['MCRun', 'MarketMaker'], inplace=True)
profit_df[['Max', 'Min']].describe()

               Max         Min
count   100.000000  100.000000
mean    121.415720   -0.423240
std     318.515621    3.840331
min      12.261000  -38.287000
25%      27.157250    0.003000
50%      45.622000    0.004000
75%      84.414750    0.007000
max    2910.167000    0.059000

### Spreads

In [10]:
spread_df = pd.read_hdf(h5_file, 'spread')
spread_df

       Max       Mean  Median  Min
MCRun
1       40  10.098288     9.0    1
2       42   9.436364     9.0    1
3       25   6.779422     6.0    1
4       94  21.218220    19.0    1
5       31   7.976078     7.0    1
...    ...        ...     ...  ...
96      18   5.202129     5.0    1
97      81  21.257476    19.0    1
98      18   4.918530     4.0    1
99      26   6.359376     6.0    1
100     27   6.435013     6.0    1

[100 rows x 4 columns]

### Cancel to Trade

In [11]:
cancel_trade_df = pd.read_hdf(h5_file, 'cancel_trade')
by_mm_df = pd.read_hdf(h5_file, 'by_mm')
cancel_trade_df, by_mm_df

(    MCRun  total_cancel_to_trade_vol  total_trade_to_order_vol
 0       1                  79.785421                  1.237362
 1       2                  41.062377                  2.376515
 2       3                  81.078414                  1.217890
 3       4                  22.372195                  4.277032
 4       5                  56.086964                  1.751022
 ..    ...                        ...                       ...
 95     96                 125.464352                  0.790424
 96     97                  12.789254                  7.249440
 97     98                 157.693602                  0.629892
 98     99                  78.550892                  1.256590
 99    100                  74.171359                  1.329794

 [100 rows x 3 columns],     CancelToTrade  MCRun MarketMaker  TradeToOrderPct
 0       36.928203      1          m0         2.635411
 1       20.056035      2          m0         4.747427
 2       40.779803      3          m0         2.392615
 3        9.177969      4          m0         9.821782
 4       29.449522      5          m0         3.282895
 ..            ...    ...         ...              ...
 95      61.752637     96          m0         1.592943
 96       6.753331     97          m0        12.893760
 97      81.892354     98          m0         1.205909
 98      41.534213     99          m0         2.350212
 99      35.897896    100          m0         2.709244

 [100 rows x 4 columns])

### To csv

In [12]:
participation_df.to_csv('..\\Small Caps\\Output\\participation_%d.csv' % trial_no)
position_df.to_csv('..\\Small Caps\\Output\\position_%d.csv' % trial_no, index=False)
profit_df.to_csv('..\\Small Caps\\Output\\profit_%d.csv' % trial_no, index=False)
spread_df.to_csv('..\\Small Caps\\Output\\spread_%d.csv' % trial_no, index=False)
cancel_trade_df.to_csv('..\\Small Caps\\Output\\orders_%d.csv' % trial_no, index=False)
by_mm_df.to_csv('..\\Small Caps\\Output\\ordersbymm_%d.csv' % trial_no, index=False)